<div class="question"><%= question.translation %></div>
<div class="answer">
        <ul>
            <li style="width:0px; margin-left:-4px;">&nbsp;</li>
        </ul>
</div>
<div class="chooseArea">
    <%= render "choose_options", {:question => @question} %>   
</div>
<input type="hidden" value="<%= question.id %>" class="question_id">
<input type="hidden" value="<%= question.original_sentence %>" class="correct_answer">

<input type="hidden" value="" class="answer_text">
<input type="hidden" value="" class="index_order">
<input type="hidden" value="<%= words_count %>" class="word_number">