<%if @status.present? %>
<script>
    setTimeout('window.location.href="/users";',3000);
</script>
<% end %>
<section class="aboutMe">
    <h1>我的概况</h1>
     <ul>
        <li><label class="grade_icon">等&nbsp;&nbsp;&nbsp;级：</label><span><%= @user.level.present? ? "#{@user.level}级" : "暂无数据" %></span><a href="/users/level_introduction">...</a></li>
        <li><label class="complete_icon">完成度：</label>
            <span>
                <% if @current_level_questions_count.to_i > 0 %>
                    <%= (@finish_questions_count.to_f/@current_level_questions_count* 100).round(1)  %>
                <% else %>
                    暂无题目
                <% end %>
            </span></li>
        <li><label class="gold_icon">金&nbsp;&nbsp;&nbsp;币：</label><span><%= @user.gold.present? ? "#{@user.gold}" : "暂无数据" %></span><a href="/users/promotion">...</a></li>
     </ul>
</section>
<section class="btn_box">
    <% if @questions.any? %>
        <% if @question.present? %>
            <a href="/questions" class="orange_btn">开始试炼</a>
            <a href="javascript:void(0)" class="yellow_btn">关注句子酷</a>
        <% else %>
            <%if @status && @status == "false" %>
                <div class="tooltip"><%= flash[:notice] %><span class="arrow"></span></div>   
            <% end %>    
            <a href="javascript:void(0)" class="orange_btn" onclick="unlock_next_level(this)">解锁等级</a>
        <% end %>
    <% else %>
        当前等级暂无题目
    <% end %>    
</section>

<% if @status && @status == "true" %>
<div class="tab" id="success" style="display:none;">
    <p style="text-align: left;line-height: 24px;margin: 20px 10px;"><%= flash[:notice] %></p>
</div>
<script>
popup("#success");
setTimeout('hide_success()',3000);
    function hide_success()
    {
        $("#success").empty();
        $("#success").hide();
        $("#panel") .hide();
    }
</script>
<% end %>